<!DOCTYPE html>
<html>
<head>
  <title>Pirate Form</title>
</head>
<body>
  <h1>Please list the pirate and their ships!</h1>
  <form method='post' action='/pirates'>
    Pirate Name: <input type='text' id='name' name='pirate[name]'>
    Pirate Weight: <input type='text' id='weight' name='pirate[weight]'>
    Pirate Height: <input type='text' id='height' name='pirate[height]'>
    Ship Name: <input type='text' name='pirate[ships][][name]'>
    Ship Type: <input type='text' name='pirate[ships][][type]'>
    Ship Booty: <input type='text' name='pirate[ships][][booty]'>
    <input type='submit' value='Submit'>
  </form>
</body>
</html>